@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --card-bg: #0f0f0f;
  --accent: #ff5e00;
  --accent-secondary: #0044ff;
  --text-muted: #a0a0a0;
  --secondary-bg: #0f0f0f;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card-bg);
  --color-accent: var(--accent);
  --color-accent-secondary: var(--accent-secondary);
  --color-muted: var(--text-muted);
  
  --font-family-heading: var(--font-heading), sans-serif;
  --font-family-body: var(--font-body), sans-serif;
  --font-family-mono: var(--font-mono), monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #000000 !important;
  color: #ffffff !important;
}


/* Estilos del menú de navegación con efecto hover subrayado animado */
.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--accent);
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: var(--accent);
  
}

.nav-link:hover::after {
  width: 100%;
}

/* --- SCROLLBAR PERSONALIZADO PARA LA CÁPSULA --- */

/* Ancho de la barra */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

/* El riel (fondo oscuro) */
.scrollbar-track-\[\#1a1a1a\]::-webkit-scrollbar-track {
  background: #1a1a1a; 
  border-radius: 10px;
}

/* La manija (el color naranja que se mueve) */
.scrollbar-thumb-accent::-webkit-scrollbar-thumb {
  background: #f97316; /* Naranja (Asegúrese que combine con su color accent) */
  border-radius: 10px;
}
